.item-1 {
    background-color: aqua;
}

.item-2 {
    background-color: pink;
}
.item-3 {
    background-color: green;
}
.item-4 {
    background-color: purple;
}

.purchase-summary {
    font-size: large;
}